doctype html
html(lang="en")
    include ./block/head.pug
    body
        h1.display-4 Plantilla Avanzada
        p scss, pug, bootstrap, font-awesome y vue
        include ./block/cdnjs.pug
        
