block config
  include ../config/config

<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include ../blocks/links
    title Plantilla | Avanzada
  body
    block header
    block nav
    block main
    include ../blocks/scripts
